@import "/src/styles/helpers"
.description
  @include fsz(2em, 1.2)
.card-img
  min-height: 277px
  box-shadow: inset 0 0 12px 0 rgba(0,0,0,0.7)
  &.fish
    background: url('/assets/content/images/cards/62_.jpg') center center no-repeat
    background-size: cover
  &.glide
    background: url('/assets/content/images/cards/5_.jpg') center center no-repeat
    background-size: cover
.price
  display: flex
  align-items: baseline
  .value
    @include fsz(2em, 2)
    font-weight: 700
    margin-right: 10px
  .currency
    @include fsz(1.2em, 2)

.button-wrapper
  margin-bottom: 4rem
