<div class="content-wrapper">
  <div class="title">
    <div class="description">Экспересс-консультация</div>
    <h1>Четыре шага к <mark>цели</mark>.</h1>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3>Приветствую Вас на вашей первой Экспресс-консультации по МАКартам.</h3>
    <p>Я рада, что Вы решились окунуться в новое исследование себя. Консультация проводится с помощью МАКарт, поясню что это за инструмент и как он работает.</p>
    <p>МАКарты – это карточки с картинками, которые позволяют снять психологическую защиту и сосредоточиться на себе и своем внутреннем мире, соприкоснуться с Вашим подсознанием, взглянуть по-новому на ситуацию, цель, мечту, понять себя глубже.</p>
    <p>Вы просто рассматриваете картинку, описываете ее, соприкасаетесь со своими ощущениями от увиденного и получаете новый результат, толчок, идею, восприятие, угол зрения на Вашу ситуацию, цель, мечту.</p>
  </div>
</div>

<div class="content-block--white">
  <div class="card-img fish"></div>
</div>

<div class="content-wrapper">
  <div class="divider"></div>

  <div class="content-block">
    <h3>Как проходит консультация?</h3>
    <div class="list">
      <ul>
        <li><p>Формулировка запроса</p></li>
        <li><p>Уточняющие вопросы</p></li>
        <li><p>Проработка запроса на МАКартах</p></li>
        <li><p>Подведение итогов</p></li>
      </ul>
    </div>
  </div>

  <div class="button-wrapper">
    <button mat-raised-button class="cards-button upper content-width" (click)="start()">Начать</button>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3>Сколько стоит?</h3>
    <div class="price">
      <div class="value">{{price}}</div>
      <div class="currency">руб. / 3 дня</div>
    </div>
    <p>Экспресс Консультация на МАКартах – это практика, позволяющая рассмотреть свою проблему, ситуацию, цель под новым углом, через ассоциации и метафоры по определенной универсальной методике без живого личного сопровождения консультанта.</p>
    <p>Доступ к консультации и ее результатам будет открыт 3 дня, в течение которых Вы сможете проработать свой запрос.</p>
  </div>

  <div class="button-wrapper">
    <button mat-button class="cards-button upper" (click)="getConsultation()">Получить консультацию</button>
  </div>
</div>

<div class="content-block--white">
  <div class="card-img glide"></div>
</div>
<!--<div class="content-wrapper">-->
<!--  <div class="content-block">-->
<!--    <h3>Формулировка запроса.</h3>-->
<!--    <p>Я рада, что Вы решились окунуться в новое исследование себя. Консультация проводится с помощью МАКарт, поясню что это за инструмент и как он работает.</p>-->
<!--    <p>МАКарты – это карточки с картинками, которые позволяют снять психологическую защиту и сосредоточиться на себе и своем внутреннем мире, соприкоснуться с Вашим подсознанием, взглянуть по-новому на ситуацию, цель, мечту, понять себя глубже.</p>-->
<!--    <p>Вы просто рассматриваете картинку, описываете ее, соприкасаетесь со своими ощущениями от увиденного и получаете новый результат, толчок, идею, восприятие, угол зрения на Вашу ситуацию, цель, мечту.</p>-->
<!--  </div>-->
<!--</div>-->
