@import "/src/styles/helpers"

mat-grid-list
  position: relative
  display: block
  width: 100%
mat-grid-tile
  background: lightblue
  .card
    &-item
      img
        width: 100%
        height: auto
      .index
        position: absolute
        z-index: 1
        bottom: 3px
        right: 3px
        @include fsz(12px)
