<button mat-icon-button class="close" aria-label="Меню" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <mat-grid-list [cols]="cardsInRow" [rowHeight]="cards.cardProportion" *ngIf="cardsList$|async as cardsList">
    <mat-grid-tile *ngFor="let item of cardsList; let index = index;" (click)="selectCard(item)">
      <div class="card-item">
        <img [src]="cardImage(item)" [alt]="item.name"  loading="lazy" />
        <div class="index">{{index + 1}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
