<h1>Консультация заголовок</h1>
<ng-container *ngIf="currentStep$|async as currentStep">
  <ng-container *ngIf="isStart(currentStep); else stepCards">
    <button mat-raised-button class="cards-button" aria-label="Начало конусльтации" (click)="nextStep(-1)">Начать</button>
  </ng-container>
  <ng-template #stepCards>
    <div *ngFor="let step of steps.data$|async;trackBy: consultation.trackByFn" class="step-wrapper">
      <div *ngIf="consultation.isStepCompleted(step)" class="step">
        <app-step
          [step]="step"
          [currentStep]="currentStep"
          [card]="card(step)"
          (nextStep)="nextStep(step.id)"
          (selectCard)="selectCard()"
          (scrollToStep)="scrollToStep(currentStep)"
        ></app-step>
      </div>
    </div>
  </ng-template>
</ng-container>
