<div class='footer-block'>
  <div class='links'>
    <a routerLink='/docs/terms' class='upper'>Пользовательское соглашение</a>
    <div>Любые вопросы можно отправить на email - {{config.email}}</div>
  </div>
  <div class='author'>
    <div class='item'>{{config.author}}</div>
    <div class='item'>ИНН {{config.inn}}</div>
  </div>
</div>
<div class='footer-block disclaimer'>
  Любое использование материалов с данного сайта, допускается не иначе как с письменного разрешения его правообладателя
  - ИНН {{config.inn}}. Вся информация предоставленная на сайте ни при каких условиях не является публичной офертой,
  определяемой положениями Статьи 437 (2) Гражданского кодекса РФ.
</div>
