<div class="content-wrapper">
  <div class="title">
    <h2>Приглашение на консультацию с живым общением</h2>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <p>Однако, на экспресс-консультации отсутствует главная изюминка – живое общение и сопровождение клиента, позволяющие глубже понять и найти шаги к решению.</p>
    <p>Эта экспресс-консультация познакомила Вас с МАКартами, которые дают возможность по новому взглянуть на происходящее в Вашей жизни и нащупать свежее решение волнующей Вас ситуации. Экспресс-консультация позволила Вам наглядно почувствовать и понять, что МАКарты – удивительный инструмент для работы с собой.</p>
  </div>
</div>

<div class="content-block--white">
  <div class="card-img woman"></div>
</div>

<div class="content-wrapper">
  <div class="divider"></div>

  <div class="content-block">
    <h3>Экспресс-консультация с помощью МАКарт позволяет:</h3>
    <div class="list">
      <ul>
        <li><p>Применить универсальную технику при работе с клиентом</p></li>
        <li><p>Использовать ограниченное количество МАКарт</p></li>
        <li><p>Сопровождать клиента только в текстовом формате</p></li>
        <li><p>Наметить действия, шаги по движению к цели</p></li>
      </ul>
    </div>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3><mark>Консультация с живим общением</mark> с помощью МАКарт позволяет:</h3>
    <div class="list">
      <ul>
        <li><p>Выслушать клиента</p></li>
        <li><p>Задавать уточняющие, помогающие и наводящие вопросы на протяжении всей консультации</p></li>
        <li><p>Выбрать персональную технику при работе с клиентом</p></li>
        <li><p>Использовать неограниченное количество МАКарт</p></li>
        <li><p>Сохранять связь с основным запросом и своевременно возвращать клиента к основной теме</p></li>
        <li><p>Мягко сопровождать клиента в его темпе и ритме</p></li>
        <li><p>Сформировать конкретные действия, которые можно реализовать в ближайшее время</p></li>
        <li><p>Дать обратную связь клиенту</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="content-block--white">
  <div class="card-img tree"></div>
</div>

<div class="content-wrapper">
  <div class="divider"></div>

  <div class="content-block">
    <p>Я приглашаю Вас пойти ещё дальше в работе с собой, с волнующими Вас темами и попробовать стать участником <mark>Консультации с живым общением</mark>.</p>

    <div class="links">
      <div class="button-wrapper">
        <a [href]="config.telegram" target="_blank" class="telegram">
          <button mat-button class="cards-button upper" (click)="gaClick('telegram')">Связаться в Telegram</button>
        </a>
      </div>
      <div class="button-wrapper">
        <a [href]="config.whatsapp" target="_blank" class="whatsapp">
          <button mat-button class="cards-button upper" (click)="gaClick('whatsapp')">Связаться в Whatsapp</button>
        </a>
      </div>
    </div>
  </div>

  <div class="divider"></div>
</div>
