<div class='content-wrapper'>
  <div class='title'>
    <h2>Срок оплаты истек</h2>
  </div>

  <div class='divider'></div>

  <div class='content-block'>
    <p>Прошло 3 дня и доступ к консультации закрылся.</p>
    <div class='button-wrapper'>
      <button mat-button class='cards-button upper' (click)='getConsultation()'>Получить новую консультацию</button>
    </div>
  </div>
  <div class='content-block'>
    <div class='button-wrapper'>
      <button mat-raised-button class='cards-button upper' (click)='toHome()'>Перейти на главную</button>
    </div>
  </div>
</div>
