<div class="content-wrapper">
  <div class="title">
    <h2>Подведеие итогов экспресс-консультации</h2>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3>Подведем итоги нашего исследования.</h3>
    <p>Напомню Вам, что актуальная тема для работы на ЭК для Вас была следующей:</p>
    <p class="theme">{{workTheme$|async}}</p>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3>Что самое главное Вы поняли для себя?</h3>
    <p>Прошу Вас ответить на вопрос.</p>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3>Что важно предпринять, чтобы достичь Вашей цели?</h3>
    <p>Прошу Вас написать ответ на вопрос:</p>
    <app-form-main-question
      formCode="1-final-result-form"
      placeholder="Запишите">
    </app-form-main-question>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3>За что Вы благодарны себе в этой работе?</h3>
    <p>Прошу Вас написать ответ на вопрос:</p>
    <app-form-main-question
      formCode="2-final-result-form"
      placeholder="Запишите">
    </app-form-main-question>
  </div>

  <div class="divider"></div>

  <div class="content-block">
    <h3>Я благодарю Вас за решительность на новый эксперимент</h3>
    <p>Я благодарю Вас за доверие мне сопровождать Вас на этом пути.</p>
    <p>Я благодарю Вас за пройденный путь и полученный результат на экспресс-консультации с помощью МАКарт.</p>

    <div class="button-wrapper">
      <button mat-button class="cards-button upper" (click)="nextStep()">Спасибо</button>
    </div>
  </div>
</div>
